@model frameQuest.Models.Test

@{
    ViewBag.Title = "Play";
}

<h2>Play</h2>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Argomento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Argomento.Nome)
        </dd>

        <dt>
            Docente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente.Nome)
        </dd>

        <dt>
            Fase
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fase.Nome)
        </dd>

        <dt>
            Titolo Test
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

    </dl>

    <hr />
    <form action="/PlayTest/Elabora" method="GET" class="form">
        <input type="hidden" name="idTest" value="@Model.IdTest" />

        <div class="form-group">
            <label>Test</label>
            <p class="form-control-static">@Model.Nome</p>
        </div>

        <div class="form-group">
            <label>Nominativo</label>
            <input type="text" name="nominativo" 
                   placeholder="inserire il proprio nominativo" />
        </div>


        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @{int i = 0;}
            @foreach (var dom in Model.Domande)
        {
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#dom_@dom.IdDomanda" aria-expanded="true" aria-controls="dom_@dom.IdDomanda">
                                @Html.DisplayFor(m => dom.Testo)
                            </a>
                        </h4>
                    </div>
                    <div id="dom_@dom.IdDomanda" class="panel-collapse collapse @(0 == i++ ? "in" : "")" role="tabpanel" aria-labelledby="heading_@dom.IdDomanda">
                        <div class="panel-body">
                            Risposte:
                            @foreach (var ris in dom.Risposte)
                        {
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="risDom_@dom.IdDomanda" value="@ris.IdRisposta">
                                        @Html.DisplayFor(m => ris.Testo)
                                    </label>
                                </div>
                        }
                        </div>
                    </div>
                </div>
        }
        </div>
    
        <div class="form-group">
            <button class="btn btn-success pull-right" type="submit">Invia</button>
        </div>
    </form>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTest }) |
    @Html.ActionLink("Back to List", "Index")
</p>
